[LocalAI]
ollama_base_url = http://localhost:11434
default_model_ctx = -1
reason_model_ctx = -1

[API]
openai_compat_api_key = sk-xxxx
jina_api_key = jina_xxxx
openai_url = https://openrouter.ai/api/v1/chat/completions
jina_base_url = https://r.jina.ai/
searxng_url = http://localhost:4000/search

[Settings]
use_jina = true
use_ollama = false
with_planning = true
default_model = anthropic/claude-3.5-haiku
reason_model = deepseek/deepseek-r1-distill-qwen-32b

[Concurrency]
concurrent_limit = 3
cool_down = 10.0
chrome_port = 9222
chrome_host_ip = http://localhost
use_embed_browser = false

[Parsing]
temp_pdf_dir = ./temp_pdf
browse_lite = 0
pdf_max_pages = 30
pdf_max_filesize = 20971520
timeout_pdf = 75
max_html_length = 5120
max_eval_time = 15
verbose_web_parse_detail = false
